{% extends 'base1.html' %}
{% load static %}
{% block body %}
<div class="row"><!--about sectioin start-->

  <div class="col-md-6 ">
    <div class="about-img mb-5 white">
      <img src="static/images/logo1.jpg" class="img-fluid p-5" style="height: 550px; width: 550px;">
    </div>
  </div>
  <div class="col-md-6 white mr-4 ">
    <h1 class="section-title white">About</h1>

    <p class="white">
      Prestige Tours and Travels is a comprehensive travel service provider committed to delivering reliable,
      affordable,
      and personalized travel solutions. Operating across domestic destinations,
      Prestige offers a wide range of services including air ticket bookings,
      tour packages. The company specializes in crafting tailor-made
      holiday experiences for families, honeymooners, solo travelers, and corporate clients.
      With a strong focus on customer satisfaction, Prestige combines professional travel expertise
      with local insights to curate memorable journeys. Whether it’s a relaxing beach vacation in Goa,
      a religious tour to Tirupati, Prestige ensures
      end-to-end travel support. Leveraging digital tools like booking portals and social media outreach,
      the company continues to adapt to changing market trends. Prestige Tours and Travels has built a strong
      reputation through transparent pricing, timely service, and a commitment to making travel hassle-free.
      With plans to expand its offerings through online platforms and mobile applications, the brand is poised
      to become a trusted name in the evolving tourism industry.
    </p>

  </div>

</div>

<!--about sectioin end-->


{% endblock body %}