<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    {% load static %}
    <link rel="stylesheet" href="static/css/login1.css">
</head>

<body>
    <div class="main">
        <div class="signup">
            <form action="#" method="POST">
                {% csrf_token %}
                <label for="chk" aria-hidden="ture" id="sin" style="color:white;">Sign up</label>
                <input type="email" name="name" id="name" placeholder="User Name" required="">
                <input type="password" name="password1" id="password1" placeholder="Password" required="">
                <input type="password" name="password2" id="password2" placeholder="Confirm Password" required="">
                {% if e_massage %}
                    <p style="color: red;">{{ e_massage }}</p>
                {% endif %}
                <button>Sign Up</button>
            </form>
            <div class="div1">
                Alredy have an account?
            <a href="{% url 'login' %}">Log In</a>
        </div>
        </div>
    </div>
</body>

</html>